---

---

<div class="example">
  <slot />
</div>

<style is:global>
  .example {
    border: 1px solid #f6821f;
    padding: 2em;
    margin: 2em;
    text-align: left;
  }

  .example a {
    text-decoration: none;
    color: #f6821f;
  }

  .example a:hover {
    text-decoration: underline;
  }
</style>
